{% for group, tc_methods in groups %}
    <div class="row my-2">
        <div class="card bg-dark text-light col-12 col-md-10 mx-auto rounded">
            <div class="card-header text-center">
                <h4 class="card-title"><strong>{{ group.name }}</strong></h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body pb-0">
              <ul class="list-inline">
                  <li class="list-inline-item"><h5><span class="badge badge-secondary"><i class="fa fa-hourglass-half"></i> <strong>{{ group.duration }}</strong></span></h5></li>
                  <li class="list-inline-item"><h5><span class="badge badge-light"><strong>{{ group.total }} test{% if group.total > 1 %}s{% endif %}</strong></span></h5></li>
              </ul>
            </div>
        </div>
    </div>
{% endfor %}
